.cinema-wrapper {
	height: 0;
	padding: 0 0 56.25% 0; /* 16:9 - ((100/16) * 9) */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;

	.cinema,
	.cinema-thumbnail,
	.cinema-overlay {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.cinema-thumbnail {
		opacity: 1;
			-moz-transition: opacity 250ms ease-out;
			-o-transition: opacity 250ms ease-out;
			-webkit-transition: opacity 250ms ease-out;
		transition: opacity 250ms ease-out;
	}

	.cinema-overlay {
		background : transparent;
		z-index: 1;
	}
}